{% let msa = settings.quality_of_life_settings.map_station_activation_settings %}
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Save stations:</div>
    <div class="col-4 col-sm-3">{{ msa.save_stations }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Refill stations:</div>
    <div class="col-4 col-sm-3">{{ msa.refill_stations }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Ship:</div>
    <div class="col-4 col-sm-3">{{ msa.ship }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Objectives:</div>
    <div class="col-4 col-sm-3">{{ msa.objectives }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Area transitions:</div>
    <div class="col-4 col-sm-3">{{ msa.area_transitions }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Items: tier 1 (small dots):</div>
    <div class="col-4 col-sm-3">{{ msa.items1 }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Items: tier 2 (X's):</div>
    <div class="col-4 col-sm-3">{{ msa.items2 }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Items: tier 3 (hollow circles):</div>
    <div class="col-4 col-sm-3">{{ msa.items3 }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Items: tier 4 (large dots):</div>
    <div class="col-4 col-sm-3">{{ msa.items4 }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Other:</div>
    <div class="col-4 col-sm-3">{{ msa.other }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Split sub area:</div>
    <div class="col-4 col-sm-3">{{ msa.sub_area }}</div>
</div>
