<div class="modal" id="mapStationActivationModal" tabindex="-1" data-parent-modal="qualityOfLifeModal">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Map station activation reveal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body px-4 py-2">
                <div class="card">
                    <div class="card-header">Tile types</div>
                    <div class="card-body">
                        <div class="form-group row my-2">
                            <label for="mapStationActivationSaves" class="col-md-7 col-lg-5 col-form-label">Save
                                stations</label>
                            <div id="mapStationActivationSaves" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_saves"
                                    id="mapStationActivationSavesNo" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationSavesNo">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_saves"
                                    id="mapStationActivationSavesPartial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationSavesPartial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_saves"
                                    id="mapStationActivationSavesFull" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationSavesFull">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationRefills" class="col-md-7 col-lg-5 col-form-label">Refill
                                stations</label>
                            <div id="mapStationActivationRefills" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_refills"
                                    id="mapStationActivationRefillsNo" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationRefillsNo">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_refills"
                                    id="mapStationActivationRefillsPartial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationRefillsPartial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_refills"
                                    id="mapStationActivationRefillsFull" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationRefillsFull">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationShip"
                                class="col-md-7 col-lg-5 col-form-label">Ship</label>
                            <div id="mapStationActivationShip" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_ship"
                                    id="mapStationActivationShipNo" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationShipNo">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_ship"
                                    id="mapStationActivationShipPartial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationShipPartial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_ship"
                                    id="mapStationActivationShipFull" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationShipFull">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationObjectives"
                                class="col-md-7 col-lg-5 col-form-label">Objectives</label>
                            <div id="mapStationActivationObjectives" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_objectives"
                                    id="mapStationActivationObjectivesNo" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationObjectivesNo">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_objectives"
                                    id="mapStationActivationObjectivesPartial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationObjectivesPartial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_objectives"
                                    id="mapStationActivationObjectivesFull" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationObjectivesFull">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationTransitions"
                                class="col-md-7 col-lg-5 col-form-label">Area transitions</label>
                            <div id="mapStationActivationTransitions" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_transitions"
                                    id="mapStationActivationTransitionsNo" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTransitionsNo">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_transitions"
                                    id="mapStationActivationTransitionsPartial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTransitionsPartial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_transitions"
                                    id="mapStationActivationTransitionsFull" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTransitionsFull">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationTier1" class="col-md-7 col-lg-5 col-form-label">Items:
                                tier 1 (small dots)</label>
                            <div id="mapStationActivationTier1" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_tier1"
                                    id="mapStationActivationTier1No" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier1No">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier1"
                                    id="mapStationActivationTier1Partial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTier1Partial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier1"
                                    id="mapStationActivationTier1Full" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier1Full">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationTier2" class="col-md-7 col-lg-5 col-form-label">Items:
                                tier 2 (X's)</label>
                            <div id="mapStationActivationTier2" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_tier2"
                                    id="mapStationActivationTier2No" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier2No">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier2"
                                    id="mapStationActivationTier2Partial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTier2Partial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier2"
                                    id="mapStationActivationTier2Full" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier2Full">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationTier3" class="col-md-7 col-lg-5 col-form-label">Items:
                                tier 3 (hollow circles)</label>
                            <div id="mapStationActivationTier3" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_tier3"
                                    id="mapStationActivationTier3No" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier3No">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier3"
                                    id="mapStationActivationTier3Partial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTier3Partial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier3"
                                    id="mapStationActivationTier3Full" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier3Full">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationTier4" class="col-md-7 col-lg-5 col-form-label">Items:
                                tier 4 (large dots)</label>
                            <div id="mapStationActivationTier4" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_tier4"
                                    id="mapStationActivationTier4No" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier4No">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier4"
                                    id="mapStationActivationTier4Partial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationTier4Partial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_tier4"
                                    id="mapStationActivationTier4Full" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationTier4Full">Full</label>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="mapStationActivationOther"
                                class="col-md-7 col-lg-5 col-form-label">Other</label>
                            <div id="mapStationActivationOther" class="col-sm-5 col-lg-4 btn-group">
                                <input type="radio" class="btn-check" name="map_station_activation_other"
                                    id="mapStationActivationOtherNo" value="No"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationOtherNo">No</label>
                                <input type="radio" class="btn-check" name="map_station_activation_other"
                                    id="mapStationActivationOtherPartial" value="Partial"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary"
                                    for="mapStationActivationOtherPartial">Partial</label>
                                <input type="radio" class="btn-check" name="map_station_activation_other"
                                    id="mapStationActivationOtherFull" value="Full"
                                    onchange="mapStationActivationSettingChanged()">
                                <label class="btn btn-outline-primary" for="mapStationActivationOtherFull">Full</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="mapStationActivationSubArea"
                        class="col-md-7 col-lg-5 col-form-label">Non-primary sub area</label>
                    <div id="mapStationActivationSubArea" class="col-sm-5 col-lg-4 btn-group">
                        <input type="radio" class="btn-check" name="map_station_activation_sub_area"
                            id="mapStationActivationSubAreaNo" value="No"
                            onchange="mapStationActivationSettingChanged()">
                        <label class="btn btn-outline-primary" for="mapStationActivationSubAreaNo">No</label>
                        <input type="radio" class="btn-check" name="map_station_activation_sub_area"
                            id="mapStationActivationSubAreaPartial" value="Partial"
                            onchange="mapStationActivationSettingChanged()">
                        <label class="btn btn-outline-primary"
                            for="mapStationActivationSubAreaPartial">Partial</label>
                        <input type="radio" class="btn-check" name="map_station_activation_sub_area"
                            id="mapStationActivationSubAreaSame" value="Same"
                            onchange="mapStationActivationSettingChanged()">
                        <label class="btn btn-outline-primary" for="mapStationActivationSubAreaSame">Same</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>